PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=qlattt_db
JWT_SECRET= //tự tạo
EMAIL_USER= //email gửi và nhận thư
EMAIL_PASS= //mật khẩu ứng dụng
ALLOWED_ORIGINS=https://ecoriverside-landingpage.onrender.com //danh sách domain FE được phép, cách nhau bằng dấu phẩy